form.form(action="#")
  input.form__input(type="text", placeholder="Your Name")
  input.form__input(type="email", placeholder="Your Email")
  input.form__input(type="tel", placeholder="Phone")
  button.form__btn Download eBook Now
  p.form__info We don’t share your personal info with anyone. Check out our Policy for more information.