section.hero
  div.hero__left.hero__col
    div.hero__content
      div.pre-title GET STARTED WITHIN 2 MINUTES
      h1.title Learn How To Bake In 5 Easy Steps
      p.text.hero__text No doubt, you need more one pot dinners in your life like this easy Bosnian-style chicken and rice. This recipe is made all over the world with countless variations on the theme.
    include form.pug
  div.hero__right.hero__col(style='background-image: url(./img/hero-bg.jpg)')